.main-wrapper{
  background-color: #4a4a4a;
  height: 100vh;
}

.grid-container{
  background-color: #fd9340;
  width: 800px;
  aspect-ratio: 1;
}

.square {
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
  background-color: #eeb32d;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-grow: 1;
}